.main {
    position: relative;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    max-width: calc(var(--main-width) + var(--gap) * 2);
    margin: auto;
    padding: var(--gap)
}

body {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
}

.page-header h1 {
    font-size: 40px
}

.pagination {
    display: flex
}

.pagination a {
    color: var(--theme);
    font-size: 13px;
    line-height: 36px;
    background: var(--primary);
    border-radius: calc(36px / 2);
    padding: 0 16px
}

.pagination .next {
    margin-inline-start: auto
}

.social-icons {
    padding: 12px 0
}

.social-icons a:not(:last-of-type) {
    margin-inline-end: 12px
}

.social-icons a svg {
    height: 26px;
    width: 26px
}

code {
    direction: ltr;
}

div.highlight, pre {
    position: relative;
}

.copy-code {
    display: none;
    position: absolute;
    top: 4px;
    right: 4px;
    color: rgba(255, 255, 255, 0.8);
    background: rgba(78, 78, 78, 0.8);
    border-radius: var(--radius);
    padding: 0 5px;
    font-size: 14px;
}

div.highlight:hover .copy-code,
pre:hover .copy-code {
    display: block;
}

.staticman-comments {
    margin-bottom: 2rem;
}
.staticman-comments .comment-author, .comment-content, .comment-timestamp {
    margin-top: 0;
    font-size: 0.85rem;
}
.staticman-comments article{
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
}
.staticman-comments .comment-author {
    grid-column: 1;
    grid-row: 1;
}
.staticman-comments .comment-timestamp {
    grid-column: 2;
    grid-row: 1;
    text-align: right;
}
.staticman-comments .comment-content{
    margin-top: 0.5rem;
    grid-column: 1/3;
    grid-row: 2;
}

.staticman-comments .comment-content p {
    padding: 5px 1rem 5px 1rem;
}

.staticman-comments input {
    color: var(--content)
    font-size: 13px;
    line-height: 36px;
    border-radius: calc(36px / 2);
    border: 1px solid var(--primary);
    padding: 4px 5px;
    width: 100%;
    font-family:inherit;
    font-size: 0.85rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.staticman-comments .g-recaptcha {
    padding: 0.5rem 0;
}

.staticman-comments textarea {
    color: var(--content)
    font-size: 13px;
    line-height: 36px;
    border: 1px solid var(--primary);
    border-radius: calc(36px / 2);
    padding: 4px 5px;
    vertical-align: top;
    height: 10em;
    width: 100%;
    font-family:inherit;
    font-size: 0.85rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.staticman-comments label, .staticman-comments button {
    margin-top: 0.5rem;
    font-size: 0.85rem;
}

fieldset {
    border:none;
}
#warningComment{
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    display: block;
}
#staticman-button {
    width: 100%;
    padding: 0.25em 0.75em;
    margin-bottom: 1rem;
}
#staticman-comments {
    display: none; 
}

